<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://rkendall0717-001-site1.btempurl.com:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>rkendall0717-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\rkendall0717-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E00E3_rkendall0717;Persist Security Info=True;User ID=DB_9E00E3_rkendall0717_admin;Password=Password1." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DuboisTracker.Models.ApplicationDbContext, DuboisTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="db_9e00e3_infoConnectionString" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="server=MYSQL5013.Smarterasp.net;user id=9e00e3_info;password=Password1.;database=db_9e00e3_info" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\db_9e00e3_infoConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="server=MYSQL5013.Smarterasp.net;user id=9e00e3_info;password=Password1.;database=db_9e00e3_info" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=SQL5007.Smarterasp.net;Initial Catalog=DB_9E00E3_rkendall0717;Persist Security Info=True;User ID=DB_9E00E3_rkendall0717_admin;Password=Password1.</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>